<!DOCTYPE html>
<html>
  <head>
    <meta name="google-signin-client_id" content="931420069641-u2e3o61aj6roh56sv86403q20473213r.apps.googleusercontent.com">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>places.io</title>
    <script src={{ url_for('static', filename='markerclusterer.js') }}></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href={{ url_for('static', filename='style.css')}} rel="stylesheet">
    <link href={{ url_for('static', filename='bootstrap.min.css')}} rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
      $(function() {
        $("#earliestdatepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
        });
        $("#latestdatepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
        });
      });
    </script>
  </head>

  <body>

    <script>
      function onLoad() {
        gapi.load('auth2', function() {
          gapi.auth2.init();
        });
      }

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    <div id="navbar">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-10 col-lg-offset-1 col-xs-12" style="margin-top:20px;text-align:right;">
            <div> {{useremail}}
              <button type="button" class="btn btn-success"><a href="/" onclick="signOut();">Sign out</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- table>
        <tr>
          <th>{{useremail}}</th>
          <th><a href="/" onclick="signOut();">Sign out</a></th>
        </tr>
      </table> -->
    </div>

    <div id ="info">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-10 col-lg-offset-1 col-xs-12" style="margin-top:50px; margin-bottom:20px;">
            <div class="input-group">
              <input type="text" id="search" placeholder="Enter a location" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-success" id="searchbtn" type="button">Go</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12" style="margin-bottom:20px;">
          <p>
            Earliest Date: <input type="text" id="earliestdatepicker">
            &nbsp;&nbsp;&nbsp;&nbsp;
            Latest Date: <input type="text" id="latestdatepicker">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" id="datefilterbtn" onclick="filterPhotos()">Filter by Date</button>
          </p>
        </div>
      </div>
    </div>

    <div id="map"></div>
    <!--<script src={{ url_for('static', filename='apiData.js') }}></script>-->
    <!--<script src={{ url_for('static', filename='map.js') }}></script>-->
    <script>
      var markers = [];
      var useremail = '{{useremail}}';

      function placeMarker(map, lat, lng, title) {
        var marker = new google.maps.Marker({
          position: {lat: lat, lng: lng},
          map: map,
          title: title
        });
      }

      function placeMarkerWithInfoWindow(map, lat, lng, timestamp, title, infotitle, infoimageurl) {
        // Place a marker with title "infotitle" that renders image at url "infoimageurl"
        var contentString = `<h1>${infotitle}</h1><br>` +
                            `<h3>${timestamp}</h3><br>` +
                            `<img src="${infoimageurl}" alt="Pretty Pictures!!" style="width:300px;height:220px;">`;

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: {lat: lat, lng: lng},
          title: title
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        markers.push(marker);
      }

      function filterPhotos() {
        // Step 1: Get dates and map from HTML elements
        var earliestDate = $('#earliestdatepicker').datepicker('getDate');
        var latestDate = $('#latestdatepicker').datepicker('getDate');
        var redirectURL = "/map?useremail=" + useremail;
        if(earliestDate != null) {
          redirectURL += "&earliestDate=" + $.datepicker.formatDate("mm-dd-yy", earliestDate);
        }
        if(latestDate != null) {
          redirectURL += "&latestDate=" + $.datepicker.formatDate("mm-dd-yy", latestDate);
        }
        // Step 2: Wipe all markers from map

        // Step 3: Make DB call to get all photos in date range

        // Step 4: Call placeMarkerWithInfoWindow for each photo from DB

        // XXX hackish workaround: Can accomplish 2 and 3 by redirecting to "/map" then update
        // route in application.py to receive earliestDate and latestDate as arguments. Probably
        // a better way to do it than that, however.

        window.location.href = redirectURL;

      }

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          // Map centers on the the Carnegie Mellon Silicon Valley Campus
          zoom: 3,
          center: {lat: 37.4090697, lng: -122.06382530000002},

          // Adds option to switch between map and satellite imagery
          mapTypeControl: true,
          mapTypeControlOptions: {
              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
              position: google.maps.ControlPosition.TOP_CENTER
          },

          // Adds zoom control panel on the left side of the map
          zoomControl: true,
          zoomControlOptions: {
              position: google.maps.ControlPosition.LEFT_CENTER
          },

          // Allows full screen view
          fullscreenControl: true
        });

        {% for photo in photolist %}
          {% if photo.latitude is not none and photo.longitude is not none %}
            placeMarkerWithInfoWindow(map,
                                      {{photo.latitude}}, 
                                      {{photo.longitude}},
                                      "{{photo.timestamp}}",
                                      "{{photo.title}}",
                                      "{{photo.infotitle}}",
                                      "{{photo.infourl}}");
          {% endif %}
        {% endfor %}

        var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'static/images/m'});
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-p4F-YywktOtvxpB7uWIE_FZn1-Ieh9E&callback=initMap">
    </script>
  </body>
</html>