html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
      
#map {
  height: 100%;
}

#about {
  position: absolute;
  top: 0;
  right; 0;

}

.row {
  margin-right: -5px;
}

.btn {
  height: 50px;
  width: 60px;
  font-size: 20px;
  font-weight: 300;
}

.form-control {
  background-color: #fff;
  font-size: 20px;
  font-weight: 300;
/*  padding: 0 11px 0 50px;*/
  text-overflow: ellipsis;
  height: 50px;
}
/*
.form-control:focus {
  border-color: #4d90fe;
}*/